<main>
  <div class="masthead">
    <div class="content-wrapper">
      <h1>Get inspired. Create your bucket list. Share.</h1>
      <%= render(partial: 'search_form') %>
    </div>
  </div>
  <div class="content-wrapper ">
    <h2>Some ideas</h2>
    <ul class="bare-list float-grid css-grid ">
      <% @ideas.each do |idea| %>
        <li>
          <%= render(partial: 'idea_card',
                    locals: { card_title: idea.title,
                              done_count: idea.done_count,
                              photo_url: idea.photo_url,
                              idea: idea }) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="see-more ">
    <%= button_tag(class: "btn", type: "button") do %>
      <%= link_to "See more", ideas_path %>
    <% end %>
  </div>
</main>
