/* ==========================================================================
   GLOBAL HEADER
   ========================================================================== */

.site-header {
  border-bottom: 1px solid #e3e5e9;
  margin: 0 0 6.4rem 0;
}

.site-header .content-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.site-header .logo {
  /* Margin equals Search margin + Nav padding */
  margin: 0 1.55rem 0 0;
}

.site-header .global-search {
  flex: 1 0 auto;
  margin: 0 0.8rem -1px 0;
}

.site-header .input-row__field {
  border-color: #2c9cf2;
}

.site-header .input-row__field:focus {
  border-color: hsl(212, 64%, 36%);
}

/* Avoid line-break of navigation */
.site-header__nav {
  flex-shrink: 0;
}


/* Masthead
   ========================================================================== */

.masthead {
  background: #afbac4 url('../images/mountain-lake.jpg') no-repeat 50% 50% / cover;
  border-bottom: 1px solid #e3e5e9;
  padding: 1.6rem 0;
  margin: 0 0 6.4rem;
}

.masthead h1,
.masthead .input-group__label {
  color: #fff;
}

/* Media queries
   ========================================================================== */

/**
 * These breakpoints are selected by checking resizing the browser
 * window to see where the layout "breaks", ie. starts lucking
 * ugly. This will vary from project to project.
 * There is no need to stick to the rigid 480px - 760px - 1280px
 * breakpoints like many frameworks encourage if your design doesn't
 * need it.
 */


/* If screen medium width - over 540px wide */
@media screen and (min-width: 540px) {
  .masthead {
    padding: 6.4rem 0;
  }
  .masthead h1 {
    font-size: 40px;
    font-size: 4rem;
    text-align: center;
  }
  .masthead .input-inline {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* If wide screen- over 720px wide */
@media screen and (min-width: 720px) {
  .masthead {
    padding: 12.8rem 0 16rem;
  }
  .masthead h1 {
    font-size: 48px;
    font-size: 4.8rem;
  }
  .masthead .input-inline {
    max-width: 60%;
  }
}


/* Homepage banner
   ========================================================================== */
.banner {
  /* Use short-hand for the background properties */
  background: #afbac4 url(../images/mountain-lake.jpg) no-repeat 50% 0% / auto 787px;
  padding: 0;
  margin: 0;
}

/* Adjust background image sizing when screen is wider than image */
@media screen and (min-width: 1920px) {
  .banner {
    background-size: 100% 787px;
  }
}

/**
 * Following is a section of styles over-ruling the existing styles when
 * within the .banner parent element.
 */

/* Change font color on elements within .banner */
.banner .logo span,
.banner .logo i,
.banner .main-navigation a {
  color: #fff;
}

.banner .site-header {
  /* Change border color from default .site-header */
  border-color: #afbac4;
  /* Remove margin when in banner */
  margin: 0;
}
